p {
  margin: 0;
}

.profile {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: #fff;
}

.description {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.avatar {
  display: block;
  width: 150px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  border-radius: 50%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.name {
  font-size: 20px;
  font-weight: 700;
}

.tag {
  color: #0000008a;
}

.location {
  color: #0000008a;
  font-weight: 700;
}

.stats {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  text-align: center;
}

.statsItem {
  padding-top: 10px;
  padding-bottom: 10px;
  width: calc(100% / 3);
  border: 1px solid white;
  background-color: #d1cdcd;
}

.label {
  display: block;
}

.quantity {
  font-weight: 700;
}
