.friendList {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  background-color: #fff;
}

.item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 5px 10px 5px 20px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.statusOffline {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
}

.statusOnline {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: green;
}

.avatar {
  width: 70px;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.name {
  font-size: 24px;
}
